/* Un style generico debo */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #008b9b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h2 {
    margin: 0;
}

nav a {
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #00b33c;
}

.book-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

.book-card h3 {
    margin-top: 0;
}

button {
    padding: 8px 12px;
    background-color: #43bce8;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #43bce8;
}